<div class="modal-dialog text-center">
    <div class="col-xl-12">
        <div class="modal-content">
            <div id="alertas">
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Apodo').hasError('required') && registro.get('Apodo').touched">
                    Campo Apodo requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Apodo').hasError('maxlength') && registro.get('Apodo').touched">
                    el Apodo es de maximo 15 caracteres
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!registro.get('Apodo').touched && !registro.get('Apodo').dirty&& errorMessage">
                    Este Apodo ya esta en uso
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('PrimerNombre').hasError('required') && registro.get('PrimerNombre').touched">
                    Campo Primer Nombre requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('PrimerNombre').hasError('maxlength') && registro.get('PrimerNombre').touched || registro.get('SegundoNombre').hasError('maxlength') && registro.get('SegundoNombre').touched">
                    los campos de nombres son de maximo 20 caracteres
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('PrimerApellido').hasError('required') && registro.get('PrimerApellido').touched">
                    Campo Primer Apellido requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('PrimerApellido').hasError('maxlength') && registro.get('PrimerApellido').touched || registro.get('SegundoApellido').hasError('maxlength') && registro.get('SegundoApellido').touched">
                    los apellidos son de maximo 25 caracteres
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Password').hasError('required') && registro.get('Password').touched">
                    Campo contraseña requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Password').hasError('minlength') && registro.get('Password').touched">
                    la contraseña debe tener minimo 6 caracteres
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('IdTipoPersonaFK').hasError('required') && registro.get('IdTipoPersonaFK').touched">
                    Seleccione un Tipo Persona
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Correo').hasError('required') && registro.get('Correo').touched">
                    Campo correo requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="registro.get('Correo').hasError('email') && registro.get('Correo').touched">
                    Correo no valido
                </div>
            </div>
            <form [formGroup]="registro" class="col-lg-12">
                <div class="form-group">
                    <label for="Apodo">Apodo</label>
                    <input formControlName="Apodo" class="form-control" type="text" placeholder="Ingresar Apodo">
                </div>
                <div class="form-group">
                    <label for="PrimerNombre">Primer Nombre</label>
                    <input formControlName="PrimerNombre" class="form-control" type="text" placeholder="Ingresar Primer Nombre" >
                </div>
                <div class="form-group">
                    <label for="SegundoNombre">Segundo Nombre</label>
                    <input formControlName="SegundoNombre" class="form-control" type="text" placeholder="Ingresar Segundo Nombre" >
                </div>
                <div class="form-group">
                    <label for="PrimerApellido">Primer Apellido</label>
                    <input formControlName="PrimerApellido" class="form-control" type="text" placeholder="Ingresar Primer Apellido" >
                </div>
                <div class="form-group">
                    <label for="SegundoApellido">Segundo Apellido</label>
                    <input formControlName="SegundoApellido" class="form-control" type="text" placeholder="Ingresar Segundo Apellido" >
                </div>
                <div class="form-group">
                    <label for="juan">Imagen de perfil</label>
                    <br>
                    <input class="form-control" type="file" accept=".png, .jpg" hidden (change)="fotoPreview($event)" #fotoclick >
                    <img [src]="photoSelected || 'assets/profile.png'" alt="sin foto de perfil" class="rounded-circle" (click)="fotoclick.click()" style="width: 236px;height: 236px;">
                </div>
                <div class="form-group">
                    <label for="Password" >Contraseña</label>
                    <input formControlName="Password" class="form-control" type="password" placeholder="Ingresar contraseña" >
                </div>
                <div class="form-group">
                    <label for="genero">Tipo Usuario</label>
                    <select formControlName="IdTipoPersonaFK" class="form-control">
                    <option disabled value="" selected>Seleccione</option>
                    <option *ngFor="let opt of genero" [ngValue]="opt.IdTipoPersona ">{{opt.NombreTipoPersona}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Correo">Correo</label>
                    <input formControlName="Correo" class="form-control" type="email"  placeholder="Ingresar correo" >
                </div>
                <div class="form-group">
                    <label for="Celular">Celular</label>
                    <input formControlName="Celular" class="form-control" type="number" placeholder="Ingresar Celular" >
                </div>
                
                <div class="form-group">
                    <label for="Descripcion">Descripcion</label>
                    <input formControlName="Descripcion" class="form-control" type="text" placeholder="Descripcion" >
                </div>

                <div class="form-group">
                    <button [disabled]="registro.invalid" class="btn btn-primary" type="submit" (click)="validate_nick()">Registrarse</button>
                </div>
                
            </form>
        </div>
    </div>
</div>