<app-nav></app-nav>
<br />
<br />
<br />
<div class="row bg-sucess justify-content-center">
  <div
    class="card"
    style="
      width: 80rem;
      margin-bottom: 0px;
      border-left-width: 5px;
      border-right-width: 5px;
    "
  >
    <h2 style="padding-left: 30px; padding-top: 20px">
      <img
        src="{{ puerto + data.ImagenPerfil }}"
        class="rounded-circle"
        style="width: 50px; height: 50px"
      />
      {{ data.Apodo }}
    </h2>
    <form [formGroup]="subirPost" class="col-lg-12">
      <div class="form-group">
        <label for="TituloPublicacion">Titulo</label>
        <input
          formControlName="TituloPublicacion"
          class="form-control"
          type="text"
          placeholder="Ingresar Titulo"
        />
      </div>
      <div class="form-group">
        <label for="Tema">Tema</label>
        <select formControlName="IdTemaFK" class="form-control">
          <option disabled value="" selected>Seleccione</option>
          <option *ngFor="let opt of tema_db" [ngValue]="opt.IdTema">
            {{ opt.NombreTema }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <br />
        <input
          class="form-control"
          type="file"
          accept=".png, .jpg, .jpeg, .gif"
          hidden
          (change)="fotoPreview($event)"
          #fotoclick
        />
        <img
          [src]="photoSelected || 'assets/profile.png'"
          alt="sin foto de perfil"
          class="rounded-circle"
          (click)="fotoclick.click()"
          style="width: 25%; height: 25%"
        />
      </div>
      <div class="form-group">
        <label for="CuerpoPublicacion">Descripcion</label>
        <textarea
          formControlName="CuerpoPublicacion"
          class="form-control"
          rows="3"
        ></textarea>
      </div>

      <div class="form-group">
        <button
          [disabled]="subirPost.invalid"
          class="btn btn-primary"
          type="submit"
          (click)="createPost()"
        >
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
