<!--<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="login.component.css">
    </head>
    <body>
    <div class="box">
        <h1>Login</h1>
        <form>
            <label for="usuario">usuario</label>
            <input id="log_input" type="text" name="NickName" [(ngModel)]="login_u.NickName" placeholder="Ingresar usuario" >
            <label for="password" >contraseña</label>
            <input id="log_input" type="password" name="Password" [(ngModel)]="login_u.Password" placeholder="Ingresar contraseña" >
            <button (click)="Check_user()">Ingresar</button>
            <br>
            <br>
            <a href="#">recuperar contraseña</a>
            <a href="#">crear una cuenta</a>
        </form>
    </div>
    </body>
</html>-->