
<div class="row bg-sucess justify-content-center" *ngFor="let amigo of amigos">
  <div
    class="card bg-light mb-3"
    style="
      width: 50rem;
      margin-bottom: 40px;
      border-left-width: 5px;
      border-right-width: 5px;
    "
  >
    <div class="card-header">
      <div >
          
        <h2>
          <img
            src="{{ puerto + amigo.ImagenPerfil }}"
            alt=""
            class="rounded-circle"
            style="width: 80px; height: 80px"
          />
          {{ amigo.Apodo }}
          <button
            type="button"
            class="btn btn-ligth float-right"
            data-toggle="modal"
          >
            <img
              src="../../../assets/espera.png"
              alt="Borrar"
              style="width: 35px; height: 35px"
              (click)="aceptar(amigo.IdAmigo,amigo.IdUsuarioFromFK,amigo.IdUsuarioToFK)"
            />
          </button>
          <button
          type="button"
          class="btn btn-ligth float-right"
          data-toggle="modal"
        >
          <img
            src="../../../assets/rechazar.png"
            alt="Borrar"
            style="width: 35px; height: 35px"
            (click)="rechazar(amigo.IdAmigo)"
          />
        </button>
        </h2>
        
      </div>
      
    </div>
  </div>
</div>
